<!DOCTYPE html>
<html>
<head>
    <title>Financial Data Graph</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center"> <!-- Center the search box -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ticker">Search Ticker:</label>
                    <input type="text" id="ticker" class="form-control" placeholder="Enter a ticker">
                </div>
                <div id="tickerList" class="list-group">
                    <!-- Ticker suggestions will be displayed here -->
                </div>
            </div>
        </div>
        <div class="row mt-3">
			<div class="col-md-6">
				<canvas id="RevenueGraph" width="400" height="300"></canvas>
			</div>
			<div class="col-md-6">
				<canvas id="EBITDAGraph" width="400" height="300"></canvas>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-6">
				<canvas id="FCFGraph" width="400" height="300"></canvas>
			</div>
			<div class="col-md-6">
				<canvas id="SBCGraph" width="400" height="300"></canvas>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-6">
				<canvas id="Net IncomeGraph" width="400" height="300"></canvas>
			</div>
			<div class="col-md-6">
				<canvas id="EPSGraph" width="400" height="300"></canvas>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-6">
				<canvas id="CashGraph" width="400" height="300"></canvas>
			</div>
			<div class="col-md-6">
				<canvas id="DebtGraph" width="400" height="300"></canvas>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-6">
				<canvas id="Shares OutstandingGraph" width="400" height="300"></canvas>
			</div>
		</div>

    </div>

    <script>
    $(document).ready(function(){
        $('#ticker').on('input', function() {
            var prefix = $(this).val();
            if (prefix.length > 0) {
                // Fetch ticker suggestions
                $.getJSON('/search', {prefix: prefix}, function(data) {
                    $('#tickerList').empty();
                    data.forEach(function(ticker) {
                        $('#tickerList').append('<a href="#" class="list-group-item list-group-item-action">' + ticker[0] + '</a>');
                    });
                });
            } else {
                $('#tickerList').empty();
            }
        });

        // Event listener for ticker selection
        $(document).on('click', '#tickerList .list-group-item', function() {
            var selectedTicker = $(this).text();
            // Clear the input field and hide ticker suggestions
            $('#ticker').val('');
            $('#tickerList').empty();
            // Fetch financial data for the selected ticker
            $.getJSON('/graphs', {ticker: selectedTicker})
            .done(function(data) {
                var years = [];
				var revenues = [];
				var ebitdas = [];
				var fcfs = [];
				var sbcs = [];
				var net_incomes = [];
				var epss = [];
				var cashs = [];
				var debts = [];
				var shares_outstandings = [];
				if (Array.isArray(data)) {
					data.forEach(function(item) {
						if (Array.isArray(item) && item.length >= 10) {
							years.push(item[0]);
							revenues.push(item[1]);
							ebitdas.push(item[2]);
							fcfs.push(item[3]);
							sbcs.push(item[4]);
							net_incomes.push(item[5]);
							epss.push(item[6]);
							cashs.push(item[7]);
							debts.push(item[8]);
							shares_outstandings.push(item[9]);
						}
					});
					// Draw the bar graphs
					drawGraph('Revenue', years, revenues);
					drawGraph('EBITDA', years, ebitdas);
					drawGraph('FCF', years, fcfs);
					drawGraph('SBC', years, sbcs);
					drawGraph('Net Income', years, net_incomes);
					drawGraph('EPS', years, epss);
					drawGraph('Cash', years, cashs);
					drawGraph('Debt', years, debts);
					drawGraph('Shares Outstanding', years, shares_outstandings);
				} else {
					console.error('Invalid data format:', data);
				}
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                console.error('Error fetching data:', textStatus, errorThrown);
            });
        });

    });

    // Function to draw the graph
	function drawGraph(label, years, data, color = 'rgba(54, 162, 235, 1)') {
		var ctx = document.getElementById(label + 'Graph').getContext('2d');
		// Check if a chart instance exists for the canvas
		if (window[label + 'Chart'] instanceof Chart) {
			// Destroy the existing chart
			window[label + 'Chart'].destroy();
		}
		window[label + 'Chart'] = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: years,
				datasets: [{
					label: label,
					data: data,
					backgroundColor: color,
					borderWidth: 0
				}]
			},
			options: {
				legend: { display: false },
				title: {
					display: true,
					text: label
				},
				scales: {
					y: {
						ticks: {
							beginAtZero: true,
							callback: function(value, index, values) {
								if (value >= 1e9) {
									return (value / 1e9).toFixed(1) + 'b';
								} else if (value >= 1e6) {
									return (value / 1e6).toFixed(1) + 'm';
								} else if (value >= 1e3) {
									return (value / 1e3).toFixed(1) + 'k';
								} else {
									return value;
								}
							}
						}
					}
				},
				plugins: {
					tooltip: {
						callbacks: {
							label: function(context) {
								var label = context.dataset.label || '';
								var value = context.parsed.y;
								if (value >= 1e9) {
									return label + ': ' + (value / 1e9).toFixed(1) + 'b';
								} else if (value >= 1e6) {
									return label + ': ' + (value / 1e6).toFixed(1) + 'm';
								} else if (value >= 1e3) {
									return label + ': ' + (value / 1e3).toFixed(1) + 'k';
								} else {
									return label + ': ' + value;
								}
							}
						}
					}
				}
			}           
		});
	}

    </script>
</body>
</html>
